.conta{
    background-color: rgb(246, 255, 78);
    margin-top: 3.5rem;
}
.nav{
    background-color: rgb(21, 21, 101);
}
.text{
    padding-top: 5rem;
}
.butt{
    padding: 0 3rem 3rem 3rem;
}
.fix{
    position: fixed;
    top: 5rem;
    z-index: 1000;
    /* left: 72%; */
    border-radius: 2rem;
    background-color: rgb(252, 252, 255);
}
.bgdw{
    background-color: black;
}
.active{
    color: yellow;
}